# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.angular/cache/20.3.5/app/.tsbuildinfo
.angular/cache/20.3.5/app/vite/com.chrome.devtools.json
.angular/cache/20.3.5/app/vite/deps/_metadata.json
.angular/cache/20.3.5/app/vite/deps/@angular_common.js
.angular/cache/20.3.5/app/vite/deps/@angular_common.js.map
.angular/cache/20.3.5/app/vite/deps/@angular_compiler.js
.angular/cache/20.3.5/app/vite/deps/@angular_compiler.js.map
.angular/cache/20.3.5/app/vite/deps/@angular_core.js
.angular/cache/20.3.5/app/vite/deps/@angular_core.js.map
.angular/cache/20.3.5/app/vite/deps/@angular_platform-browser.js
.angular/cache/20.3.5/app/vite/deps/@angular_platform-browser.js.map
.angular/cache/20.3.5/app/vite/deps/chunk-GOMI4DH3.js
.angular/cache/20.3.5/app/vite/deps/chunk-GOMI4DH3.js.map
.angular/cache/20.3.5/app/vite/deps/chunk-KHTNKOFD.js
.angular/cache/20.3.5/app/vite/deps/chunk-KHTNKOFD.js.map
.angular/cache/20.3.5/app/vite/deps/chunk-QVFXN45J.js
.angular/cache/20.3.5/app/vite/deps/chunk-QVFXN45J.js.map
.angular/cache/20.3.5/app/vite/deps/package.json
.angular/cache/20.3.5/app/vite/deps_ssr/_metadata.json
.angular/cache/20.3.5/app/vite/deps_ssr/package.json
